<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_PHP"></activity>
        <activity android:name=".Activity_Ruby" />
        <activity android:name=".Activity_HTML" />
        <activity android:name=".Activity_JavaScript" />
        <activity android:name=".Activity_Python" />
        <activity android:name=".Activity_C" />
        <activity android:name=".Activity_Cs" />
        <activity android:name=".Activity_Cpp" />
        <activity android:name=".Activity_Dart" />
        <activity android:name=".Activity_Java" />
        <activity android:name=".Profile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>